<div class="debug">
  <div class="debug-stats">
    <div>
      <span>Time:</span>
      <strong>{{ gameService.getElapsedTime().toFixed(2) }}s</strong>
    </div>

    <div>
      <span>FPS:</span>
      <strong>{{ gameService.getFps().toFixed(0) }}</strong>
    </div>

    <div>
      <span>Patterns:</span>
      <strong>
        {{ gameService.getActivePatternCount() }}
      </strong>
    </div>

    <div>
      <span>Bullets:</span>
      <strong>
        {{ gameService.getActiveBulletCount() }}
      </strong>
    </div>
  </div>

  <div class="debug-controls">
    <app-button [disabled]="isPlaying" (click)="play()">Play</app-button>
    <app-button [disabled]="!isPlaying" (click)="pause()">Stop</app-button>
  </div>
</div>
